body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  padding: 5px 15px;
  background-color: blue;
  color: white;
  border-radius: 10px;
}
img{
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}
.container{
  width: 900px;
  display: flex;
}
.col-3{
  width: 25%;
  padding: 15px;
  display: flex;
}